importClassesFrom(Biobase,
                  AnnotatedDataFrame,
                  AssayData,
                  MIAME,
                  Versioned,
                  VersionedBiobase,
                  Versions,
                  eSet,
                  ExpressionSet)
importFrom("Biobase", "exprs")
importFrom("Biobase", "exprs<-")
importFrom("Biobase", "se.exprs")
importFrom("Biobase", "se.exprs<-")

exportClasses(qPCRBatch, CyclesSet)

exportMethods(merge)

export(read.taqman, read.qPCR, checkValidTaqmanFilenames, checkValidqPCRFilename, 
       exprs.well.order, "exprs.well.order<-", read.LC480, read.LC480SampleInfo, qpcR2CyclesSet)
