importClassesFrom(Biobase,
                  AnnotatedDataFrame,
                  AssayData,
                  MIAME,
                  Versioned,
                  VersionedBiobase,
                  Versions,
                  eSet,
                  ExpressionSet)
importFrom("Biobase", "exprs")
importFrom("Biobase", "exprs<-")
importFrom("Biobase", "se.exprs")
importFrom("Biobase", "se.exprs<-")
importFrom("methods", "new")
importFrom("utils", "read.delim", "read.table")
importFrom("Biobase", "pData")
importFrom("Biobase", "pData<-")
importFrom("Biobase", "fData")
importFrom("Biobase", "fData<-")
importFrom("Biobase", "featureData")
importFrom("Biobase", "featureData<-")
importFrom("Biobase", "protocolData")
importFrom("Biobase", "protocolData<-")
importFrom("Biobase", "varMetadata")
importFrom("Biobase", "varMetadata<-")
importFrom("Biobase", "AnnotatedDataFrame")
importFrom("Biobase", "assayDataElement")
importFrom("Biobase", "assayDataElementReplace")
importFrom("Biobase", "phenoData")
importFrom("Biobase", "phenoData<-")
importFrom("Biobase", "assayDataNew")

exportClasses(qPCRBatch, CyclesSet)

exportMethods(merge)

export(read.taqman, read.qPCR, checkValidTaqmanFilenames, checkValidqPCRFilename, 
       exprs.well.order, "exprs.well.order<-", read.LC480, read.LC480SampleInfo, 
       qpcR2CyclesSet, effs, "effs<-", se.effs, "se.effs<-")
